.apodimg-container {
  display: block;
  margin-left: 100px;
  max-width: 75%;
  padding: 15px;
  border-radius: 25px;
}

iframe {
  display: block;
  margin-left: 100px;
  width: 640px;
  height: 360px;
  padding: 15px;
  border-radius: 25px;
}

p,
h3 {
  font-family: "Advent Pro", sans-serif;
  display: block;
  margin-left: 110px;
  margin-right: 20px;
  text-align: justify;
}
