.apodimg-container {
  display: block;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 20px;
}

iframe {
  display: block;
  border-radius: 5px;
  padding-bottom: 20px;
}

p,
h3 {
  font-family: "Advent Pro", sans-serif;
  display: block;
  text-align: justify;
}
